/*------------------*
	 * Global variables *
	 *------------------*/
	/*------------*
	 * CSS Styles *
	 *------------*/
     *,
     *:before,
     *:after {
       box-sizing: border-box;
       margin: 0;
       padding: 0;
     }
 
     body {
       align-items: center;
       background: linear-gradient(135deg, #404040, #333);
       background-color: #333;
       display: flex;
       justify-content: center;
       min-height: 100vh;
     }
     body::-webkit-scrollbar {
       display: none;
     }
 
     a {
       color: inherit;
       text-decoration: none;
     }
     a:hover {
       text-decoration: underline;
     }

     .card-wrapper {
        height: 100%;
        position: relative;
        width: 100%;
      }
 
     .card {
       margin: auto;
       color: #d4cd96;
       font-family: 'Courier New', Courier, monospace;
       font-weight: bolder;
       font-size: 30;
       height: 100%;
       width: 100%;
     }
 
     .card-front {
       -webkit-backface-visibility: hidden;
               backface-visibility: hidden;
       background: repeating-linear-gradient(135deg, rgba(0, 0, 0, 0.3), transparent 1px, rgba(0, 0, 0, 0.3) 2px);
       background-size: 3px 3px;
       background-color: #302f34;
       border-radius: 1px;
       box-shadow: 0px -6px 8px 0px rgba(0, 0, 0, 0.1), 0px 6px 8px 0px rgba(0, 0, 0, 0.1), 6px 0px 8px 0px rgba(0, 0, 0, 0.1), -6px 0px 8px 0px rgba(0, 0, 0, 0.1);
       height: 100%;
       padding: 5%;
       width: 100%;
       color: #d4cd96;
       font-family: 'Courier New', Courier, monospace;
       font-weight: bolder;
       font-size: larger;
     }
 
     .card-front .layer {
       -webkit-backface-visibility: hidden;
               backface-visibility: hidden;
       height: 100%;
       justify-content: center;
       position: relative;
       width: 100%;
     }

     .avatar {
         width: 800px;
         height: 800px;
         border-radius: 50%;
     }

     .info-table {
        margin: auto;
        color: #d4cd96;
        font-family: 'Courier New', Courier, monospace;
        font-weight: bolder;
        margin-top: 50px;
        font-size: larger;
     }
     
     .info-table td {
         padding: 5px;
     }

     .info-table td[colspan="2"] {
        text-align: center;
    }

     .footer-note {
         text-align: center;
         width: 100%;
         font-family: 'Courier New', Courier, monospace;
         font-weight: bolder;
         font-size: larger;
         margin-top: 50px;
     }

     .avatar-wrapper {
         text-align: center;
     }

     .footer-note {
         position: absolute;
         bottom: 10px;
     }